<!--=====================================
	NEON TEXT
	======================================-->

    <div id="btnNeon">
    
    <br>
	

	<a href="#" class="btn-neon" style="text-decoration: none;">
		<span id="span1"></span>
		<span id="span2"></span>
		<span id="span3"></span>
		<span id="span4"></span>
		software developer
	</a>
	<br>

	<a href="https://github.com/MichaelCapera" class="btn-neon" style="text-decoration: none;" target="blank">
		<span id="spa1" ></span>
		<span id="span2"></span>
		<span id="span3"></span>
		<span id="span4"></span>
		<h2 class="icon-github-circled">Git Hub</h2>
		
	</a>
	<br>
	

	<a href="https://www.linkedin.com/in/andr%C3%A9s-capera-47ab0a18a/" class="btn-neon" style="text-decoration: none;" target="blank">
		<span id="span1"></span>
		<span id="span2"></span>
		<span id="span3"></span>
		<span id="span4"></span>
		<h2 class="icon-linkedin-squared">LikedIn</h2>
		
	</a>
	<br>

	<a href="https://www.sololearn.com/Profile/16331791" class="btn-neon" style="text-decoration: none;" target="blank">
		<span id="span1"></span>
		<span id="span2"></span>
		<span id="span3"></span>
		<span id="span4"></span>
		<h2 class="icon-picasa">SOLOLEARN</h2>
		
	</a>
	<br>

	<a href="https://www.youtube.com/channel/UCaSM1nj8NqzN8HRd6_hyoEg" class="btn-neon" style="text-decoration: none;" target="blank">
		<span id="span1"></span>
		<span id="span2"></span>
		<span id="span3"></span>
		<span id="span4"></span>
		<h2 class="icon-youtube-play">Youtube</h2>
		
	</a>
	<br>
	

	<a href="mailto:michaelcapera@gmail.com" class="btn-neon" style="text-decoration: none;">
		<span id="span1"></span>
		<span id="span2"></span>
		<span id="span3"></span>
		<span id="span4"></span>
		<h2 class="icon-mail">Mail</h2>
		
	</a><p><p>
	

	
  </div>
